

<h1>Employees List </h1>
<br/>
<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Designation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.Name %></td>
        <td><%= employee.Age %></td>
        <td><%= employee.Gender %></td>
        <td><%= employee.Designation %></td>
        <td><%= link_to 'Show', employee , class:"text-muted" %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) , class:"text-muted"%></td>
        <td><%= link_to 'Delete', employee, class:"text-muted" , method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path ,  class:"btn btn-dark" %>
